.fit-to-page {
  width: 100%;
}

.fit-to-half-page {
  width: 50%;
}

.bold {
  font-weight: bold;
}

.blue {
  color: blue;
}

.space-below {
  margin-bottom: 50px;
}

.top-image {
  transform: rotate(270deg);
}